admin:
  cluster: all
  indices:
    '*': all

admin:
  - "cn=bahaaldine,ou=Users,dc=elastic,dc=co"
  - "cn=morgan,ou=Users,dc=elastic,dc=co"
  - "cn=steve,ou=Users,dc=elastic,dc=co"
  - "cn=dimitri,ou=Users,dc=elastic,dc=co"
  - "cn=antoine,ou=Watchers,dc=elastic,dc=co"
  - "cn=matias,ou=Watchers,dc=elastic,dc=co"