# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.

input {
  beats {
    port => {{ input_port }}
  }
}

output {
  elasticsearch {
    # Die hosts werden so aus der hosts.ini extrahiert. 
    hosts => [ "127.0.0.1" ]
    index => "INDEXNAME"
    user => "elastic"
    password => {{ elasticsearch_password }}
  }
}