# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.

input {
  beats {
    port => {{ input_port }}
  }
}

output {
  elasticsearch {
    # Die hosts werden so aus der hosts.ini extrahiert. 
    hosts => [ {{ groups['elasticsearch_server'] | map('quote') | join(',') }} ]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    user => "elastic"
    password => {{ elasticsearch_password }}
  }
}